# Firebase Configuration Settings
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=rotary-club-of-amity-tvm.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rotary-club-of-amity-tvm
VITE_FIREBASE_STORAGE_BUCKET=rotary-club-of-amity-tvm.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id_here
VITE_FIREBASE_APP_ID=your_app_id_here
